.game-field-selector-code-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
    margin: 0 10px 0 10px;
}

.selector-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background-color: $color-code-selector-background;
    min-width: 780px;
    transition: 300ms ease;
    @include media-tablet {
        flex-direction: column;
        min-width: 380px;
    }
    @include media-tablet-w-and-h {
        padding: 10px 15px 10px 15px;
    }
}
