.game-field-selector {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 380px;
    height: 320px;
    background-color: $color-code-selector-background;
    border-radius: 5px;
    transition: 300ms ease;
    @include media-tablet {
        height: 95px;
        margin: 0 0 15px 0;
    }
    @include media-tablet-w-and-h {
        height: 80px;
        margin: 0 0 10px 0;
    }
}

.selector-input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    background-color: $color-selector-background;
    border-radius: 5px;
    @include media-tablet-w-and-h {
        height: 40px;
    }
}

.selector-wrong {
    animation: wrong-shake 600ms;
    background-color: $color-selector-background-wrong;
}

.selector-input {
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    width: 70%;
    border: solid 1px $color-selector-button;
    &:focus {
        outline: none;
    }
}

.selector-button {
    box-sizing: border-box;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 20%;
    border-radius: 5px;
    background-color: $color-selector-button;
    &:hover{
        background-color: $color-selector-button-hover; 
    }
    &:active{
        background-color: $color-selector-button-active; 
        border: solid 2px $color-selector-button;
    }
}

.selector-tips {
    height: 245px;
    width: 100%;
    border-radius: 5px;
    background-color: $color-selector-background;
    transition: 300ms ease;
    @include media-tablet {
        height: 30px;
    }
}

.selector-content {
    display: flex;
    align-items: center;
    justify-content: center;
}