.game-field-selector {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 380px;
    height: 340px;
    background-color: $color-code-selector-background;
    border-radius: 5px;
}

.selector-input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    background-color: $color-selector-background;
    border-radius: 5px;
}

.selector-input {
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    width: 70%;
    border: solid 1px $color-selector-button;
}


.selector-button {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 20%;
    border-radius: 5px;
    background-color: $color-selector-button;
}

.selector-tips {
    height: 80%;
    width: 100%;
    border-radius: 5px;
    background-color: $color-selector-background;
}

.selector-content {
    display: flex;
    align-items: center;
    justify-content: center;
}