.game-field-visual-wrapper {
    display: flex;
    justify-content: center;
    background: 
        linear-gradient($color-ambient-sky 1%, $color-ambient-sky-light 15%, $color-ambient-sky-light-light 69%, $color-ambient-sand 71%);
    width: 100%;
    height: 40%;
}

.game-field-visual {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: clamp(600px, 80%, 800px);
    height: 100%;
}

.visual-roof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25%;
    background-color: $color-roof-shadow;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .roof-stripe {
        width: 20%;
        height: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: $color-roof-stripe;
        &.light{
            background-color: $color-roof-stripe-light;
        }
        &.side-left{
            border-top-left-radius: 10px;
        }
        &.side-right{
            border-top-right-radius: 10px;
        }
    }
}

.visual-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
}

.visual-column {
    width: 3%;
    height: 100%;
    background-color: $color-dark-wood;
}

.visual-shelf {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: $color-background-wood;
    box-shadow: inset 0px 20px 20px 0px $color-tent-shadow;
}

.visual-shelf-top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    width: 80%;
}

.visual-shelf-top-board {
    width: 80%;
    height: 5%;
    border-radius: 5px 5px 0 0;
    background-color: $color-dark-wood;
}

.visual-shelf-back-board {
    width: 80%;
    height: 20%;
    background-color: $color-light-wood;
}

.visual-shelf-bottom-board {
    width: 85%;
    height: 10%;
    border-radius: 5px 5px 0 0;
    background-color: $color-dark-wood;
}

.visual-foundation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5%;
    border-radius: 8px 8px 0 0;
    background-color: $color-foundation;
}
