.cocktail-drink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  &[focus = true] {
    animation: glowing-drink 1500ms infinite;
  }
  &.drink-level-passed {
    animation: correct-level-pass 1200ms;
  }
}

.cocktail-main {
  display: block;
  position: relative;
  border: 20px solid transparent;
  border-top: 30px solid $color-tumbler-glass;
  top: 22px;
}

.cocktail-contain {
  position: absolute;
  top: -26px;
  left: -14px;
  border-left: 14px solid transparent;;
  border-right: 14px solid transparent;;
  border-top: 22px solid #ffffff;
  &[fullness = half] {
    top: -20px;
    left: -10px;
    border-left: 10px solid transparent;;
    border-right: 10px solid transparent;;
    border-top: 16px solid #ffffff;
  }
  &[focus = true] {
    animation: glowing-beverage 900ms infinite;
  }
}

.cocktail-stem {
  height: 18px;
  width: 3px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.cocktail-bottom {
  height: 3px;
  width: 20px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
