.cocktail-drink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.cocktail-main {
  display: block;
  position: relative;
  border: 20px solid transparent;
  border-top: 30px solid $color-tumbler-glass;
  top: 22px;
  left: 0px;

}

.cocktail-contain {
  position: absolute;
  top: -26px;
  left: -14px;
  border: 14px solid transparent;
  border-top: 22px solid #ffffff;
}

.cocktail-stem {
  height: 18px;
  width: 3px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.cocktail-bottom {
  height: 3px;
  width: 20px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
