.cocktail-drink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  &[move = true] {
    animation: moving 1800ms infinite;
  }
  &[focus = true] {
    animation: glowing-drink 1800ms infinite;
  }
}

.cocktail-main {
  display: block;
  position: relative;
  border: 20px solid transparent;
  border-top: 30px solid $color-tumbler-glass;
  top: 22px;
  left: 0px;
}

.cocktail-contain {
  position: absolute;
  top: -26px;
  left: -14px;
  border-left: 14px solid transparent;;
  border-right: 14px solid transparent;;
  border-top: 22px solid #ffffff;
  border-bottom: 0px;
  &[focus = true] {
    animation: glowing-beverage 900ms infinite;
  }
}

.cocktail-stem {
  height: 18px;
  width: 3px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.cocktail-bottom {
  height: 3px;
  width: 20px;
  background-color: $color-tumbler-glass;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
