.tumbler-drink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  width: 30px;
  &[focus = true] {
    animation: glowing-drink 1500ms infinite;
  }
  &.drink-level-passed {
    animation: correct-level-pass 1200ms;
  }
}

.tumbler-main {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  margin: 20px 0 0 0;
  background-color: $color-tumbler-glass;
}

.tumbler-contain {
  align-self: flex-end;
  height: 90%;
  width: 24px;
  background-color: orange;
  &[fullness = half] {
    height: 45%;
  }
  &[focus = true] {
    animation: glowing-beverage 900ms infinite;
  }
}

.tumbler-bottom {
  height: 4px;
  width: 100%;
  background-color: $color-tumbler-glass;
}

.tumbler-wall-left {
  height: 100%;
  width: 2px;
  background-color: $color-tumbler-glass;
}

.tumbler-wall-right {
  height: 100%;
  width: 2px;
  background-color: $color-tumbler-glass;
}
