.game-level-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.game-level {
    right: 3%;
    top: 4%;
    width: 200px;
    height: 92%;
    border-radius: 20px;
    background-color: $color-level;
}