// header and footer

$color-header: rgb(60, 173, 218);
$color-footer: rgb(87, 83, 80);

// level

$color-level: rgb(230, 221, 183);;

// ambient and tent elements

$color-ambient-sky: rgb(66, 185, 221);
$color-ambient-sky-light: rgb(45, 221, 221);
$color-ambient-sky-light-light: rgb(155, 252, 252);
$color-ambient-sand: rgb(248, 240, 156);

$color-roof-stripe: rgb(207, 66, 66);
$color-roof-stripe-light: rgb(209, 106, 106);

$color-roof-shadow: rgb(99, 98, 98);
$color-tent-shadow: rgb(94, 94, 94);

$color-dark-wood: rgb(139, 83, 18);
$color-light-wood: rgb(165, 109, 45);
$color-background-wood: rgb(199, 152, 97);

$color-foundation: rgb(124, 123, 121);

// game-field

$color-game-field-background: #c2bc66;
$color-game-field-code-selector-background: rgb(175, 171, 113);

$color-game-border-divider: rgb(124, 123, 121);

$color-game-field-code: rgb(206, 202, 152);
$color-game-field-code-number: rgb(196, 185, 158);
$color-game-field-selector: rgb(233, 229, 229);
$color-game-field-selector-number: rgb(196, 185, 158);

// drinks

$color-tumbler-glass: rgba(250, 235, 215, 0.6);