// header and footer

$color-header: rgba(219, 245, 255, 0.288);
$color-header-border: rgba(219, 245, 255, 0.288);
$color-footer: rgba(87, 83, 80, 0.507);
$color-footer-border: rgba(92, 87, 84, 0.26);

// level

$color-level: rgb(230, 221, 183);;

// ambient and tent elements

$color-ambient-sky: rgb(66, 185, 221);
$color-ambient-sky-light: rgb(45, 221, 221);
$color-ambient-sky-light-light: rgb(155, 252, 252);
$color-ambient-sand: rgb(248, 240, 156);
$color-ambient-sand-dark: #d6d182;

$color-roof-stripe: rgb(207, 66, 66);
$color-roof-stripe-light: rgb(209, 106, 106);

$color-roof-shadow: rgb(99, 98, 98);
$color-tent-shadow: rgb(94, 94, 94);

$color-dark-wood: rgb(139, 83, 18);
$color-light-wood: rgb(165, 109, 45);
$color-background-wood: rgb(199, 152, 97);

$color-foundation: rgb(124, 123, 121);

// game-field

$color-game-field-background: #d6d182;
$color-code-selector-background: rgb(197, 194, 148);

$color-code-background: rgb(235, 232, 225);
$color-code-number: rgb(196, 185, 158);

$color-selector-button: rgb(196, 185, 158);
$color-selector-background: rgb(235, 232, 225);

// drinks

$color-tumbler-glass: rgba(250, 235, 215, 0.6);