// header and footer

$color-header: rgba(219, 245, 255, 0.288);
$color-header-border: rgba(219, 245, 255, 0.288);
$color-footer: rgba(87, 83, 80, 0.507);
$color-footer-border: rgba(92, 87, 84, 0.26);

// level

$color-level: rgba(230, 221, 183, 0.678);
$color-level-border: rgba(167, 154, 99, 0.678);
$color-level-name: rgba(185, 177, 140, 0.678);
$color-level-reset-border: rgba(209, 144, 70, 0.678);
$color-level-reset-hover: rgba(228, 160, 130, 0.678);

$color-level-finished-none: rgba(141, 140, 134, 0.678);
$color-level-finished-tip: rgba(175, 150, 37, 0.678);
$color-level-finished-clear: rgba(171, 231, 131, 0.678);

$color-level-state-color: rgba(255, 255, 255, 0.555);
$color-level-state-hover: rgba(167, 167, 167, 0.397);

// ambient and tent elements

$color-ambient-sky: rgb(66, 185, 221);
$color-ambient-sky-light: rgb(45, 221, 221);
$color-ambient-sky-light-light: rgb(155, 252, 252);
$color-ambient-sand: rgb(248, 240, 156);
$color-ambient-sand-dark: #d6d182;

$color-roof-stripe: rgb(207, 66, 66);
$color-roof-stripe-light: rgb(209, 106, 106);

$color-roof-shadow: rgb(99, 98, 98);
$color-tent-shadow: rgb(94, 94, 94);

$color-dark-wood: rgb(139, 83, 18);
$color-light-wood: rgb(165, 109, 45);
$color-background-wood: rgb(199, 152, 97);

$color-foundation: rgb(124, 123, 121);

// game-field

$color-game-field-background: #d6d182;
$color-code-selector-background: rgb(197, 194, 148);

$color-code-background: rgb(235, 232, 225);
$color-code-number: rgb(196, 185, 158);
$color-code-glass: rgb(173, 129, 18);
$color-code-beverage: rgb(184, 82, 57);

$color-selector-button: rgb(196, 185, 158);
$color-selector-button-hover: rgb(206, 198, 177);
$color-selector-button-active: rgb(211, 209, 205);
$color-selector-background: rgb(235, 232, 225);
$color-selector-background-wrong: rgb(228, 157, 152);
$color-selector-background-pass: rgb(153, 221, 107);

// drinks

$color-tumbler-glass: #faebd799;
$color-drink-shine: #ffffff;
$color-beverage-shine: #ff5656;

// Resolutions

$laptop-width: 1023px;
$tablet-width: 860px;
$less-tablet-width: 767px;

$tablet-height: 900px;
$less-tablet-height: 768px;
